body {
    margin: 0;
    font-family: sans-serif
}

.main-nav {
    display: flex;
    justify-content: space-between;
    background-color: #111111;
    color: #ffffff;
    padding: 20px;
}

.main-nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 20px;
}

.hero {
    display: flex;
    align-items: center;
    padding: 100px 50px;
    justify-content: space-between;
}

.hero-content h1{
    font-size: 48px;
    margin-bottom: 0;
    color: #111111
}

.hero-content p {
    font-size: 18px;
    color: #555555;
    margin-bottom: 0;
    line-height: 1.6;
}

.hero-content button {
    padding: 10px 20px;
    background-color: #1b1f58;
    color: #ffffff;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}

.hero-image img {
    max-width: 100%;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.hero-content, .hero-image {
    width: 45%;
}